<?xml version="1.0" encoding="UTF-8"?>



<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       
	http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" >
	
	
	
	<!-- 
		UTF-8 필터를 등록
		- 내가 만든 것이 아니라 스프링에서 제공해주는 것으로 설정
		- org.springframework.web.filter.CharacterEncodingFilter
	-->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 
		로그인 필터
	 -->
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.kh.finalproject.filter.LoginFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/users/pw/*</url-pattern>
		<url-pattern>/users/info</url-pattern>
		<url-pattern>/users/my_grade_point</url-pattern>
		<url-pattern>/users/test_result</url-pattern>
		<url-pattern>/users/test_result_search</url-pattern>
		<url-pattern>/board/edit</url-pattern>
		<url-pattern>/board/regist</url-pattern>
		<url-pattern>/board/delete</url-pattern>
		<url-pattern>/board/report</url-pattern>
		<url-pattern>/board2/insert</url-pattern>
		<url-pattern>/board2/delete</url-pattern>
		<url-pattern>/board2/edit2</url-pattern>
		<url-pattern>/question/upload</url-pattern>
		<url-pattern>/question/update</url-pattern>
		<url-pattern>/question/solve</url-pattern>
		<url-pattern>/question/multi</url-pattern>
		<url-pattern>/question/choose</url-pattern>
	</filter-mapping>
	
	<!-- 
		관리자 필터
	 -->
	<filter>
		<filter-name>adminFilter</filter-name>
		<filter-class>com.kh.finalproject.filter.AdminFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
		<url-pattern>/board/delete2</url-pattern>
		<url-pattern>/users/user_list</url-pattern>
	</filter-mapping>
	

	
	
	
	<!-- 
		프리미엄 필터
	 -->
	<filter>
		<filter-name>PremiumFilter</filter-name>
		<filter-class>com.kh.finalproject.filter.PremiumFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>PremiumFilter</filter-name>
		<url-pattern>/question/choose</url-pattern>

	</filter-mapping>
	



	<!-- 
		에러 페이지 설정
		-에러가 발생한 경우에 어떤 페이지를 사용자에게 보여줄지 설정할 수 있다
		-HTTP 상태번호를 알아야함
		-403, 404, 405, 500
	 -->
	<error-page>
		<error-code>400</error-code>
		<location>/error/400</location>
	</error-page>
	
	<error-page>
		<error-code>403</error-code>
		<location>/error/403</location>
	</error-page>	
	
	<error-page>
		<error-code>404</error-code>
		<location>/error/404</location>
	</error-page>	
	
	<error-page>
		<error-code>405</error-code>
		<location>/error/405</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/error/500</location>
	</error-page>

	
	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
