<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cert">
	
	<!-- 등록 기능 -->
	<insert id="regist" parameterType="cert">
	
		merge into cert
		using dual on(email = #{email})
		
		when matched then 
		update set cert_no=#{cert_no}, when=sysdate where email=#{email}		
		
		when not matched then
		insert values(#{email},#{cert_no}, sysdate)
	</insert>
	
	<!--  인증번호가 존재하는지 검사하는 구문 -->
	<select id="check" resultType="cert" parameterType="map">
		select * from cert where email=#{email} and cert_no=#{cert_no}
		and when between sysdate-10/24/60 and sysdate
	</select>
	
	<!-- 해당 이메일의 인증정보를 삭제하는 구문 -->
	<delete id="delete" parameterType="String">
		delete cert where email=#{email}
	</delete>
</mapper>





