<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="grade_point">
	
	<!-- 포인트를 주는 기능 -->
	<!-- 회원가입 포인트 -->
	<insert id="giveJoinPoint" parameterType="grade_pointDto">
		insert into grade_point(point_no, users_no, get_point, point_type) 
		values(point_no_seq.nextval,#{users_no}, 5, '회원가입')
	</insert>
	
	<!-- 문제업로드 포인트 -->
	<insert id="giveQuestionUploadPoint" parameterType="int">
		insert into grade_point(point_no, users_no, get_point, point_type) 
		values(point_no_seq.nextval,#{users_no}, 5, '문제 업로드')
	</insert>
	
	<!-- 문제풀기 포인트 -->
	<insert id="giveQuestionSolvePoint" parameterType="int">
		insert into grade_point(point_no, users_no, get_point, point_type) 
		values(point_no_seq.nextval,#{users_no}, 3, '문제 풀기')
	</insert>
	<!-- 문제 삭제시 포인트 차감. -->
	<insert id="deleteMinus" parameterType="int">
		insert into grade_point(point_no,users_no,get_point,point_type) 
		values(point_no_seq.nextval,#{users_no},-5, '문제 삭제')
	</insert>
	<!-- 출석체크 포인트 -->
	<insert id="giveCheckPoint" parameterType="grade_pointDto">
		insert into grade_point(point_no, users_no, get_point, point_type) 
		values(point_no_seq.nextval,#{users_no}, 1, '출석체크')
	</insert>
	
	<!-- 답변채택 포인트 -->
	<insert id="giveAnswerPoint" parameterType="grade_pointDto">
		insert into grade_point(point_no, users_no, get_point, point_type) 
		values(point_no_seq.nextval,#{users_no}, 3, '답변채택')
	</insert>
	
	<!-- 나의 포인트 내역 조회-->
	<select id="my_grade_point" resultType="grade_pointDto" parameterType="map">
    	select * from (
    		select rownum rn, A.* from (
        		select * from grade_point where users_no=(
        			select user_no from users where id=#{id}
        	) order by get_date desc)A
        ) where rn between #{start} and #{finish}	
	</select>
	
	<!-- 포인트 내역 개수 조회 -->
	<select id="getCount" resultType="int">
		select count(*) from grade_point 
		where users_no=(select user_no from users where id=#{id})
	</select>
	
</mapper>





