<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="grade_point">
	
	<!-- 포인트를 주는 기능 -->
	<insert id="givePoint" parameterType="grade_pointDto">
		insert into grade_point(point_no, users_no, get_point, point_type) 
		values(point_no_seq.nextval,#{users_no}, 50, '문제 업로드')
	</insert>
	<!-- 유저 문제 해결시 3 point 적립 -->
	<insert id="userQuestionSolve" parameterType="grade_pointDto">
		insert into grade_point values(
			point_no_seq.nextval,
			#{users_no},
			3,
			'유저 문제 해결',
			sysdate
			)
	</insert>
	<select id="checkPointAll" resultType="grade_pointDto">
		select * from grade_point order by desc
	</select>
</mapper>





