<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="pay">
	<!-- 결제 준비 등록 구문 -->
	<insert id="ready" parameterType="payDto">
		insert into pay(
		no,tid,created_at,cid,partner_order_id,partner_user_id,item_name,quantity,total_amount,status
		) values(
		pay_seq.nextval,
		#{tid},
		to_date(#{created_at},'YYYY-MM-DD"T"HH24:MI:SS'),
		#{cid},
		#{partner_order_id},
		#{partner_user_id},
		#{item_name},
		#{quantity},
		#{total_amount},
		'준비')
	</insert>
	
	<!-- 결제 성공시 추가할 데이터 구문 -->
	<insert id="success" parameterType="payDto">
				insert into pay values(
		pay_seq.nextval,
		#{aid},
		#{tid},
		to_date(#{created_at},'YYYY-MM-DD"T"HH24:MI:SS'),
		#{cid},
		#{partner_order_id},
		#{partner_user_id},
		#{item_name},
		#{quantity},
		#{total_amount},
		'완료')
	</insert>
	<insert id="revoke" parameterType="payDto">
				insert into pay values(
		pay_seq.nextval,
		#{aid},
		#{tid},
		to_date(#{created_at},'YYYY-MM-DD"T"HH24:MI:SS'),
		#{cid},
		#{partner_order_id},
		#{partner_user_id},
		#{item_name},
		#{quantity},
		#{total_amount},
		'취소')
	</insert>
	<select id="list" resultType="payDto">
		select * from pay order by no asc
	</select>
	
	<select id="get" parameterType="int" resultType="payDto">
		select * from pay where no=#{no}
	</select>
	
	
</mapper>