<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
 <mapper namespace="question">
 	<!-- 유저 문제 시퀀스 뽑기 --> 
 	<select id="sequence" resultType="int">
 		select question_seq.nextval from dual
 	</select>
 	 <select id="userSequence" resultType="int">
 		select user_custom_question_seq.nextval from dual
 	</select>
 	 	 <select id="questionSequence" resultType="int">
 		select question_result_seq.nextval from dual
 	</select>
 	
 	<!-- 일반문제 시퀀스 뽑기 -->
 	<select id="testquestionSequence" resultType="int">
 	select test_question_seq.nextval from dual
 	</select>
 	
 	<select id="categorySequence" resultType="int">
 	select category_seq.nextval from dual
 	</select>
 	
 	<select id="testSequence" resultType="int">
 	select test_seq.nextval from dual
 	</select>
 	<select id="categoryE" resultType="int" parameterType="normalUpdateQuestionVO">
 	select count(*) from test T inner join category C on t.tno=c.test_no where c.csname=#{csname} and t.test_category=#{test_category}
 	</select>

 	<!-- 유저 문제 업로드 -->
 	<insert id="upload" parameterType="uploadQuestionDto">
 		insert into question values(
 			#{question_no},
 			#{user_custom_question_no},
 			#{question_title},
 			#{question_content},
 			#{question_answer},
 			#{question_solution},
 			0,
 			#{answer1},
 			#{answer2},
 			#{answer3},
 			#{answer4},
 			#{answer5}
 			)
 	</insert>
 	<insert id="upload_sub" parameterType="uploadQuestionDto">
 		insert into user_custom_question values(
 			#{user_custom_question_no},
 			#{user_no},
 			#{category_name}
 		)
 	</insert>
 	<insert id="upload_file" parameterType="uploadQuestionFileDto">
 		insert into question_file values(
 		question_file_seq.nextval,
		#{file_upload_name},
		#{file_save_name},
		#{file_type},
		#{file_size},
		#{question_no}
 		)
 	</insert>
 	
 	<!-- 사용자 문제 해결 결과 저장 -->
 	<insert id="insert_result" parameterType="userQuestionResultDto">
 		insert into question_result values(
 			#{result_no},
			#{result},
 			#{result_time},
			sysdate,
			#{user_conclusion},
			#{tried_user},
			#{question_no}
 		)
 	</insert>
 	<!-- test_question 업로드 -->
 	<insert id="uploadtestquestion" parameterType="testQuestionDto">
 		insert into test_question values(
 			#{no},
 			#{csname},
 			#{category_no},
 			#{question},
 			#{ispremium},
 			#{answer},
 			#{correct},
 			#{incorrect},
 				#{dis1},
 			#{dis2},
 			#{dis3},
 			#{dis4},
 			#{dis5},
 			#{rate}
 			)
 	</insert>
 	
 	<insert id="uploadcategory" parameterType="categoryDto">
 	insert into category values(
 	#{category_no},
 	#{csname},
 	#{test_no},
 	 	#{lim_hour},
 	#{lim_min}
 	
 	)
 	</insert>
 	
 	<insert id="uploadtest" parameterType="testDto">
 		insert into test values(
 #{tno},
 	#{test_category}
 
 	
 	
 	)
 	</insert>
 	
 	<insert id="normalupload_file" parameterType="uploadTestQuestionFileDto">
 			insert into test_question_file values(
 		test_question_file_seq.nextval,
		#{file_upload_name},
		#{file_save_name},
		#{file_type},
		#{file_size},
		#{test_question_no}
 		)
 	</insert>
 	
 	<insert id="uploadsolution" parameterType="solutionDto">
 	insert into solution values(
 	solution_seq.nextval,
 	#{solution},
 	#{question_no},
 	#{user_no}
 	)
 	
 	</insert>
 	
 	<!-- 일반문제 목록 -->
 	<select id="getNormal"  parameterType="normalUpdateQuestionVO" resultType="testQuestionDto">
 	
 	
 	   select * from test_question where category_no=#{category_no} and csname=#{csname} order by no asc
 	</select>
 	
 	<!-- 일반 문제 상세보기 -->
 	<select id="getContent" resultType="testQuestionDto">
 	select * from test_question where no=#{no}
 	</select>
 	
 	<!-- 유저 문제 수정 -->
 	<update id="updateQuestion" parameterType="uploadQuestionDto">
 		update question set 
 			question_title=#{question_title},
 			question_content=#{question_content},
 			question_answer=#{question_answer},
 			answer1=#{answer1},
 			answer2=#{answer2},
 			answer3=#{answer3},
 			answer4=#{answer4},
 			answer5=#{answer5},
 			question_solution=#{question_solution},
 			question_premium=#{question_premium} 
 		where question_no=#{question_no}			
 	</update>
 	<update id="updateFile" parameterType="uploadQuestionFileDto">
 		update question_file set 
			file_upload_name=#{file_upload_name},
			file_save_name=#{file_save_name},
			file_type=#{file_type},
			file_size=#{file_size}
 		where question_no=#{question_no}			
 	</update>
 	<update id="updateCustom" parameterType="uploadQuestionDto">
 		update user_custom_question set 
			category_name=#{category_name}
 		where user_custom_question_no=#{user_custom_question_no}			
 	</update>
 	
 	 <!-- 사용자 문제 해결 후 결과값 호출 -->
 	 <select id="userResultTrue" parameterType="int" resultType="int">
 	 	select count(tried_user) from question_result where  question_no=#{question_no} and result=1
 	 </select>
 	 <select id="userResultFalse" parameterType="int" resultType="int">
 	 	select count(tried_user) from question_result where question_no=#{question_no} and result=0
 	 </select>
 	 <select id="userPriority" parameterType="userQuestionResultDto" resultType="int">
		select * from(
			select rownum,e.* from(
				select * from question_result)e
		)where question_no=#{question_no} and result_no=#{result_no}
	 </select>
	 
	  	<!-- 유저 문제 조회 --> 	
 	 <select id="getList" resultType="uploadQuestionDto">
 	 	select * from question order by question_no asc
 	 </select>
 	 <select id="getOne" resultType="uploadQuestionDto">
 		 select * from question where question_no=#{question_no}
 	 </select> 	  	 
 	 <!-- 세션 id를 이용하여 user_no를 가져옴 -->
 	 <select id="getNo" parameterType="String" resultType="int">
 	 	select user_no from users where id=#{id}
 	 </select> 	 
 	 <!-- user + user_custom_question + question 테이블 조인 -->
 	 <select id="getTotal" parameterType="int" resultType="uploadQuestionDto">
 	 	select * from 
			question q
			left outer join 
    		(select * from users u
         		left outer join user_custom_question ucq
        		on u.user_no = ucq.user_no
        	)e
		on q.user_custom_question_no = e.user_custom_question_no
		where question_no=#{question_no}
 	 </select>
 	  	 <select id="getTotal2" resultType="uploadQuestionDto">
 	 	select * from 
			question q
			left outer join 
    		(select * from users u
         		left outer join user_custom_question ucq
        		on u.user_no = ucq.user_no
        	)e
		on q.user_custom_question_no = e.user_custom_question_no
 	 </select>

 	 <!-- 파일 불러오기 -->
 	 <select id="getFile" parameterType="int" resultType="uploadQuestionFileDto">
 	 	select * from question_file where question_no=#{question_no}
 	 </select>

 	 <!-- 일반문제 파일 불러오기 -->
 	 
 	 <select id="getNormalFile" parameterType="int" resultType="uploadTestQuestionFileDto">
		select * from test_question_file where test_question_no=#{no}
 	 </select>
 	 <!-- 문제 삭제 -->
 	 <delete id="deleteQuestion">
 	 	delete from question where question_no=#{question_no}
 	 </delete>
 	 <delete id="deleteUser">
 	 	delete from user_custom_question where user_custom_question_no=#{user_custom_question_no}
 	 </delete>
 	 <delete id="deleteFile">
 	 	delete from question_file where question_file_no=#{question_file_no}
 	 </delete>
 	 <delete id="deleteResult">
 	 	delete from question_result where question_no=#{question_no}
 	 </delete>
 	 
 	<!-- test_question 업로드 --> 	 	
 	<insert id="uploadtestquestion" parameterType="testQuestionDto">
 		insert into test_question values(
 			#{no},
 			#{csname},
 			#{category_no},
 			#{question},
 			#{ispremium},
 			#{answer},
 			#{correct},
 			#{incorrect},
 				#{dis1},
 			#{dis2},
 			#{dis3},
 			#{dis4},
 			#{dis5},
 			#{rate}
 		)
 	</insert>
 	
 	<insert id="uploadcategory" parameterType="categoryDto">
	 	insert into category values(
		 	#{category_no},
		 	#{csname},
		 	#{test_no},
		 	 	#{lim_hour},
		 	#{lim_min}
	 	
	 	)
 	</insert>
 	
 	<insert id="uploadtest" parameterType="testDto">
 		insert into test values(
 			#{tno},
 			#{test_category}
 		)
 	</insert>
 	
 	<insert id="normalupload_file" parameterType="uploadTestQuestionFileDto">
 			insert into test_question_file values(
 		test_question_file_seq.nextval,
		#{file_upload_name},
		#{file_save_name},
		#{file_type},
		#{file_size},
		#{test_question_no}
 		)
 	</insert> 	
 	<insert id="uploadsolution" parameterType="solutionDto">
 	insert into solution values(
 	solution_seq.nextval,
 	#{solution},
 	#{question_no},
 	#{user_no}
 	)	
 	</insert>
 	
 	<!-- 일반문제 목록 -->
 	<select id="getNormal"  parameterType="normalUpdateQuestionVO" resultType="testQuestionDto">
 	   select * from test_question where category_no=#{category_no} and csname=#{csname}
 	</select>
 	
 	<!-- 일반 문제 상세보기 -->
 	<select id="getContent" resultType="testQuestionDto">
 	select * from test_question where no=#{no}
 	</select>
 </mapper>
