<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
 <mapper namespace="question">
 	<select id="sequence" resultType="int">
 		select question_seq.nextval from dual
 	</select>
 	 <select id="userSequence" resultType="int">
 		select user_custom_question_seq.nextval from dual
 	</select>
 	<!-- 
 	문제 업로드
 	* 관리자만 question_premium 변경 가능하도록 해야함.
 	* user_custom_question 테이블도 같이 변해야 함.
 	 -->
 	<insert id="upload" parameterType="uploadQuestionDto">
 		insert into question values(
 			#{question_no},
 			#{user_custom_question_no},
 			#{question_title},
 			#{question_content},
 			#{question_answer},
 			#{question_solution},
 			0,
 			#{answer1},
 			#{answer2},
 			#{answer3},
 			#{answer4},
 			#{answer5}
 			)
 	</insert>
 	<insert id="upload_sub" parameterType="uploadQuestionDto">
 		insert into user_custom_question values(
 			#{user_custom_question_no},
 			#{user_no},
 			#{category_name}
 		)
 	</insert>
 	<insert id="upload_file" parameterType="uploadQuestionDto">
 		insert into question_file values(
 		question_file_seq.nextval,
		#{file_upload_name},
		#{file_save_name},
		#{file_type},
		#{file_size},
		#{question_no}
 		)
 	</insert>
 	<!-- 
 	문제 수정
 	* 관리자만 question_premium 변경 가능하도록 해야함.
 	 -->
 	<update id="updateQuestion" parameterType="uploadQuestionDto">
 		update question set 
 			question_title=#{question_title},
 			question_content=#{question_content},
 			question_answer=#{question_answer},
 			answer1=#{answer1},
 			answer2=#{answer2},
 			answer3=#{answer3},
 			answer4=#{answer4},
 			answer5=#{answer5},
 			question_solution=#{question_solution},
 			question_premium=#{question_premium} 
 		where question_no=#{question_no}			
 	</update>
 	<update id="updateFile" parameterType="uploadQuestionFileDto">
 		update question_file set 
			file_upload_name=#{file_upload_name},
			file_save_name=#{file_save_name},
			file_type=#{file_type},
			file_size=#{file_size}
 		where question_no=#{question_no}			
 	</update>
 	<update id="updateCustom" parameterType="uploadQuestionDto">
 		update user_custom_question set 
			category_name=#{category_name}
 		where user_custom_question_no=#{user_custom_question_no}			
 	</update>
 	<!-- 
 	문제 조회
 	* 전체 조회
 	 --> 	
 	 <select id="getList" resultType="uploadQuestionDto">
 	 	select * from question order by question_no asc
 	 </select>
 	  	 
 	 <!-- 세션 id를 이용하여 user_no를 가져옴 -->
 	 <select id="getNo" parameterType="String" resultType="int">
 	 	select user_no from users where id=#{id}
 	 </select>
 	 
 	 <!-- user + user_custom_question + question 테이블 조인 -->
 	 <select id="getTotal" parameterType="int" resultType="uploadQuestionDto">
 	 	select * from 
			question q
			left outer join 
    		(select * from users u
         		left outer join user_custom_question ucq
        		on u.user_no = ucq.user_no
        	)e
		on q.user_custom_question_no = e.user_custom_question_no
		where question_no=#{question_no}	
 	 </select>
 	 
 	 <!-- 파일 불러오기 -->
 	 <select id="getFile" parameterType="int" resultType="uploadQuestionFileDto">
 	 	select * from question_file where question_no=#{question_no}
 	 </select>
 	 <!-- 
 	 문제 삭제
 	 1. Question 삭제
 	 2. Question_file 삭제
 	 3. 실제 이미지파일 삭제
 	 -->
 	 <delete id="deleteQuestion">
 	 	delete from question where question_no=#{question_no}
 	 </delete>
 	 <delete id="deleteUser">
 	 	delete from user_custom_question where user_custom_question_no=#{user_custom_question_no}
 	 </delete>
 	 <delete id="deleteFile">
 	 	delete from question_file where question_no=#{question_no}
 	 </delete>
 </mapper>
