<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="test">

	<select id = "list" resultType = "testDto">
		select * from test order by tno desc
	</select>

	<select id = "categoryList" parameterType= "int" resultType = "categoryDto">
		select * from category where test_no = #{tno} order by category_no desc
	</select>
	
	<select id = "questionList" parameterType = "string" resultType = "testQuestionDto">
		select * from test_question where csname= #{categoryname} order by no asc
	</select>
	
	<!-- 한 문제씩 -->
	<select id="questionDto" parameterType="testQuestionDto" resultType="testQuestionDto">
	select * from
(select rownum as rownumber, b.* from test_question b where csname= #{categoryname} order by no asc) a
where a.rownumber=#{no}
	</select>
	
	<!-- 한문제씩 dto 개수 구하기 -->
	<select id="quescountDto" parameterType="testQuestionDto" resultType="int">
	select count(*) from test_question where csname=#{categoryname} and category_no=#{category_no}
	</select>
	
	

	<!-- result 베이스 작성 -->
	<select id = "resultno" resultType = "int">
		select result_seq.nextval from dual
	</select>
	<insert id = "resultinn" parameterType = "resultDto">
		insert into result (rno, user_id, test_no, sumscore, test_date, cs_no) values(#{rno}, #{user_id}, #{test_no}, 0, sysdate, #{cs_no})
	</insert>
	
	<!--  카테고리 리스트 -->
	
	<select id = "callcategory" parameterType = "String" resultType = "String">
		select distinct category_no from test_question where csname = #{csname}
	</select>	
	
	<select id = "prequencyList" resultType = "String">
		select * from(select cs_no, count(cs_no) cnt from result group by cs_no order by cnt desc)where rownum &lt;=10
	</select>
	
	
	<!-- 유저 문제 정답 입력 및 정답 여부 -->
	
	<insert id = "correct" parameterType = "rcorrectDto" >
		insert into rcorrect(rqno, result_no, test_no, correct, iscorrect, answer) values(rcorrect_seq.nextval, #{result_no}, #{test_no}, #{correct}, #{iscorrect}, #{answer})
		
	</insert>
	
	<update id = "correct2" parameterType = "rcorrectDto">
		update rcorrect set correct = #{correct}, iscorrect =#{iscorrect}, answer = #{answer} where test_no=#{test_no} and result_no = #{result_no}
	</update>
	
	
	<!-- 유저 답 수정시 기존 입력 정답 삭제 -->
	<delete id = "deleteAns" parameterType = "rcorrectDto" >
		update rcorrect set correct = 0, iscorrect =0, answer = #{answer} where test_no=#{test_no} and result_no = #{result_no}
	</delete>


<!-- test_no로 rqno구하기 -->

<select id="rcorrectRqno" resultType="int" parameterType="rcorrectDto">

select rqno from rcorrect where test_no=#{test_no} and result_no=#{result_no}
</select>


<!-- test_no로 rcorrect 숫자 -->
<select id="rcorrectCount" resultType="int" parameterType="rcorrectDto" >

select count(*) from rcorrect where test_no=#{test_no} and result_no=#{result_no}
</select>

<!-- rqno로 rcorrect 삭제 -->

<delete id="deleteRcorrect" parameterType="rcorrectDto" >
delete from rcorrect where rqno=#{rqno} and test_no=#{test_no}

</delete>


<!-- correct 구하기 -->
<select id="selectCorrect" parameterType="rcorrectDto"  resultType="int">
 select correct from rcorrect where result_no=#{result_no} and test_no=#{test_no}

</select>


	<!--  csname & category_no 로 문제 부르기 -->
	<select id = "getQuesNum" parameterType = "testQuestionDto" resultType = "testQuestionDto">
			select * from test_question where csname=#{csname} and category_no=#{category_no}
	</select>
	
	
	
	
	
	<!-- csname category-no로 문제 개수 -->
	
	<select id = "getCountCorrect" parameterType = "testQuestionDto" resultType = "int">
			select count(*) from test_question where csname=#{csname} and category_no=#{category_no}
	</select>
	
	<select id = "getCorrectNum" parameterType = "int" resultType = "int">
			select count(*) from rcorrect where result_no=#{rno} and iscorrect=1
	</select>

	<update id = "sumScore" parameterType = "scoreVO">
		update result set sumscore =#{score} where rno=#{rno}
	</update>
	
	<update id = "quesup" parameterType = "scoreVO">
		update result set session_ques =#{session_ques} where rno=#{rno}
	</update>
	
 	<select id = "getSum" parameterType = "testQuestionDto" resultType = "resultDto">
 		select * from result where cs_no = #{csname} and session_ques = #{category_no}
 	</select>
 	
 	<select id = "getSum2" parameterType = "testQuestionDto" resultType = "resultDto">
		 		select * from(
				    select rownum rn,A.* from (
		    		    select * from result where cs_no = #{csname} and session_ques= #{category_no} order by sumscore desc
				    )A
				)where rn between 1 and #{end}
 	</select>
 	
 	<select id = "getRank" parameterType = "testQuestionDto" resultType = "int">
 		select rank from (select rno, sumscore, cs_no, session_ques,
        rank() over (order by sumscore DESC) as rank 
        from result where cs_no=#{csname} and session_ques=#{category_no})a where a.rno=#{rno}
 	
 	</select>


	<select id="questionList2" parameterType="String" resultType="testQuestionDto">
	SELECT ROWNUM
     , X.*
  FROM ( select A.* from test_question A  order by no asc
       ) X where  csname= #{categoryname} and ROWNUM=1
	</select>
		
		<select id = "nList" resultType = "uploadQuestionDto">
			select * from(select question_title, question_no, read_count from question order by question_no desc)where rownum &lt;=7
		</select>
		
	
		
		<!--  유저답 리스트 -->
		<select id = "getCorrectList" parameterType = "int" resultType = "rcorrectDto">
		select * from rcorrect where result_no = #{rno} order by rqno
		</select>
	
		
		
		
		<select id="getResult" parameterType="int" resultType="resultDto">
	select * from result where rno = #{rno} 
	
	</select>
		
<!-- rcorrect testQ -->

<select id="testRcorrect" resultType="normalUpdateQuestionVO" parameterType = "int">
Select T.*,R.correct,r.answer,r.iscorrect
From test_question T inner join rcorrect R
On t.no=r.test_no where r.result_no = #{rno}

</select>


<select id="getSolution" parameterType="testQuestionDto" resultType="normalUpdateQuestionVO">
Select T.*,S.solution

From test_question T inner join solution S

On t.no=S.question_no where t.csname=#{csname} and t.category_no=#{category_no}

</select>




		<select id = "totalNum" parameterType = "int" resultType = "int">
			select count (*) from rcorrect where test_no=#{test_no}
		</select>
		
		<select id = "correctNum" parameterType = "int" resultType = "int">
			select count(*) from rCorrect where test_no=#{test_no} and iscorrect=1
		</select>
		
		<update id = "rate" parameterType = "com.kh.finalproject.payvo.RateVO">
			update test_question set rate=#{sum} where no=#{test_no}
		</update>
		
		
		
		
		<select id = "readyForAns" parameterType = "scoreVO" resultType ="testQuestionDto">
				select * from test_question where csname= #{csname} and category_no=#{session_ques} order by no asc
		</select>
		
		
	
</mapper>